body {    
    font-family: 'Poppins' !important;
    font-size: 22px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th{
  color:#044085;
}
td {
    max-width: 100px; /* Ganti dengan lebar maksimum yang Anda inginkan */
    /* Menghindari teks melingkar, jika perlu */
    overflow: hidden; /* Mengatasi overflow jika konten terlalu besar */
    text-overflow: ellipsis; /* Menampilkan elipsis (...) jika konten terlalu besar */
}

.header-logo {
    width: 100px;
}

.header-logo-text {
    font-size: 20px;
    font-weight: bold;
    color:#044085;
}

.header-logo-sub-text {
    font-size: 20px;
    font-weight: bold;
    color: #F28920;
}

.header-btn-menu {
    padding: 0;
    margin-right: 50px;
}

#custom-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: auto;
    height: 100%;
    background-color: #044085 !important;
    color: white !important;
}

#custom-sidebar-back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100vw;
    height: 100%;
    opacity: 0.5;
    background-color: black !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item > span {
    font-size: 30px;
}

.dropdown-item:hover {
    color: #044085 !important;
}